<form action="/recipes" method="post">
  <label for="name">Recipe Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="description">Recipe Description:</label><br>
  <input type="text" id="description" name="description"><br>
  <label for="rating">Rating:</label><br>
  <input type="text" id="rating" name="rating"><br>
  <label for="prep_time">Preparation Time:</label><br>
  <input type="text" id="prep_time" name="prep_time"><br>
  <input type="submit" value="Create">
</form>
