<form action="/import" method="post">
  <label for="ingredient">What ingredient do you want to find recipes for:</label><br>
  <input type="text" id="ingredient" name="ingredient"><br>
  <input type="submit" value="Search">
</form>
